*.[ao]
*.l[ao]
.deps
.libs
*.orig
*.rej
*#
*~
.*.swp
TAGS
ID
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/config.cache
/configure
/libtool
/stamp-h1
/debian/files
/debian/lldpd
/debian/*.log
/debian/*.debhelper
/debian/stamp-autotools-files
/Makefile
/src/Makefile
/m4
/man/Makefile.in
/man/Makefile
/src/lldpctl
/src/lldpd
/src/Makefile.in
/src/config.h.in
/tests/Makefile.in
/tests/Makefile