*.[ao]
*.l[ao]
.deps
.libs
*.orig
*.rej
*#
*~
.*.swp
TAGS
ID
/autom4te.cache
/build-stamp
/config
/config.h
/config.log
/config.guess
/config.status
/config.sub
/config.cache
/libtool
/stamp-h1
/debian/files
/debian/lldpd
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/stamp-autotools-files
/Makefile
/src/Makefile
/man/Makefile
/src/lldpctl
/src/lldpd
/tests/Makefile
